{% extends 'autologbackend/base.html' %}
{% block content %}
<h1> {{ driver.name }}</h1>
<table class="table table-striped">
<tr><td>Last Driven Vehicle</td><td>{{ last_trip.driver.name }}</td></tr>
<tr><td>Last Known Location</td><td>{{ last_trip.arrival_location.description }}</td></tr>
</table>


<h3> Latest trips </h3>
{% if latest_vehicle_trips %}
    <table class="table table-striped">
		<tr>
    		<th>Vehicle</th> 
            <th></th>
    		<th>From</th>
    		<th></th>
    		<th>To</th>
    		<th></th>
            <th>Distance</th>
    		<th>Mileage dep.</th>
    		<th>Mileage arr.</th>
  		</tr>

    	{% for trip in latest_vehicle_trips %}
    	<tr>
    	<td><a href="{% url 'vehicle_detail' trip.vehicle.id %}">{{ trip.vehicle.license_plate }}</a></td>
        <td> {{ trip.vehicle.vehicle_make }} {{ trip.vehicle.vehicle_model }} </td>
        <td>{{ trip.departure_location.description }}</td>
    	<td>{{ trip.departure_time }}</td>
    	
        <td>{{ trip.arrival_location.description }}</td>
    	<td>{{ trip.arrival_time }}</td>
    	
        <td>{{ trip.distance }}
    	<td>{{ trip.departure_mileage }}</td>
    	<td>{{ trip.arrival_mileage }}</td>
    	</tr>
    	{% endfor %}
    </table>
    <a href="{% url 'trips' %}?driver={{ driver.name }}" class="btn btn-info" role="button"> View All Trips </a>
{% else %}
    <p>No trips are available.</p>
{% endif %}
{% endblock %}
