{% extends 'autologbackend/base.html' %}
{% block content %}
<h2>Edit trip {{ trip.departure_time }}</h2>
<hr>

<form action="{% url 'submit_edit_trip' trip.pk %}" method="post">
    {% csrf_token %}
    
    <div class="form-group">
        <label for="vehicle">Vehicle</label>
        <select class="form-control" name="vehicle" >
        {% for veh in vehicles %}
            <option id="vehicle{{ forloop.counter }}" value="{{ veh.id }}" {% if veh.id == trip.vehicle.id %} selected="selected" {% endif %}>
                {{ veh.license_plate }} - {{ veh.vehicle_make }} {{ veh.vehicle_model }}
            </option> 
        {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="driver">Driver</label>
        <select class="form-control" name="driver" value="{{ trip.driver }}">
        {% for dri in drivers %}
            <option id="driver{{ forloop.counter }}" value="{{ dri.id }}" {% if dri.id == trip.driver.id %} selected="selected" {% endif %}>
                {{ dri.name }}
            </option>
        {% endfor %}
        </select>
    </div>

    <br />
    <h4><b>Location and time<b></h4>
    <hr>
    <div class="form-group">
        <label for="departure_location">Departure location</label>
        <input class="form-control" type="text" name="departure_location" value="{{ trip.departure_location.description }}">
    </div>

    <div class="form-group">
        <label for="departure_date">Departure time</label>
        <input class="form-control" type="date" name ="departure_date" value="{{ trip.departure_time|date:"Y-m-d" }}">
        <input class="form-control" type="time" name ="departure_time" value="{{ trip.departure_time|time:"H:i" }}">
    </div>

    <div class="form-group">
        <label for="departure_milage">Departure milage</label>
        <input class="form-control" type="number" name="departure_mileage" value="{{ trip.departure_mileage }}">
    </div>
    <hr />
    
    <div class="form-group">
        <label for="arrival_location">Arrival location</label>
        <input class="form-control" type="text" name="arrival_location" value="{{ trip.arrival_location.description }}">
    </div>

    <div class="form-group">
        <label for="arrival_date">Arrival time</label>
        <input class="form-control" type="date" name ="arrival_date" value="{{ trip.arrival_time|date:"Y-m-d" }}">
        <input class="form-control" type="time" name ="arrival_time" value="{{ trip.arrival_time|time:"H:i" }}">
    </div>

    <div class="form-group">
        <label for="arrival_milage">Arrival milage</label>
        <input class="form-control" type="number" name="arrival_mileage" value="{{ trip.arrival_mileage }}">
    </div>
    <input class="form-control btn-primary" type="submit" value="Log" />
    </div>
</form>
{% endblock %}
