<h3> Latest trips </h3>
{% if latest_trips_list %}
	

    <table>
		<tr>
    		<th>Vehicle</th>
    		<td></td>
    		<th>Driver</th> 
    		<th>From</th>
    		<th></th>
    		<th>To</th>
    		<th></th>
    		<th>Mileage dep.</th>
    		<th>Mileage arr.</th>
  		</tr>

    	{% for trip in latest_trips_list %}
    	<tr>
    	<td><a href="{% url 'vehicle_detail' trip.vehicle.id %}">{{ trip.vehicle.license_plate }}</a></td>
    	<td>{{ trip.vehicle.build_year }} {{ trip.vehicle.vehicle_make }} {{ trip.vehicle.vehicle_model }}</td>
    	<td>{{ trip.driver.name }}</td>
    	<td>{{ trip.departure_time }}</td>
    	<td>{{ trip.departure_location }}</td>
    	<td>{{ trip.arrival_time }}</td>
    	<td>{{ trip.arrival_location }}</td>
    	<td>{{ trip.departure_mileage }}</td>
    	<td>{{ trip.arrival_mileage }}</td>

    	</tr>
    	{% endfor %}
    </table>
{% else %}
    <p>No trips are available.</p>
{% endif %}

<a href="{% url 'log_trip' %}"> Log a trip</a>
<a href="{% url 'register_driver' %}"> Register a driver</a>
<a href="{% url 'register_vehicle' %}"> Register a vehicle</a>