{% extends 'autologbackend/base.html' %}
{% block content %}
<h2>Log trip</h2>
<hr>

<form action="{% url 'submit_log_trip' %}" method="post" data-toggle="validator">
    {% csrf_token %}
    <div class="form-group">
        <label for="vehicle">Vehicle</label>
        <select class="form-control" name="vehicle">
        {% for veh in vehicles %}
            <option id="vehicle{{ forloop.counter }}" value="{{ veh.id }}">{{ veh.license_plate }} - {{ veh.vehicle_make }} {{ veh.vehicle_model }}</option> 
        {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="driver">Driver</label>
        <select class="form-control" name="driver">
        {% for dri in drivers %}
            <option id="driver{{ forloop.counter }}" value="{{ dri.id }}">{{ dri.name }}</option>
        {% endfor %}
        </select>
    </div>

    <br />
    <h4><b>Location and time<b></h4>
    <hr>
    <div class="form-group">
        <label for="departure_location">Departure location</label>
        <input class="form-control" type="text" name="departure_location" required>
        <div class="help-block with-errors"></div>
    </div>
    
    <div class="form-group">
        <label for="departure_date">Departure time</label>
        <div class='input-group date' id='departure_datetime'>
            <input type='text' class="form-control" name="departure_datetime" required>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        <div class="help-block with-errors"></div>
    </div>
    
    <div class="form-group">
        <label for="departure_milage">Departure milage</label>
        <input class="form-control" type="number" name="departure_mileage" required>
        <div class="help-block with-errors"></div>
    </div>
    <hr />
    <div class="form-group">
        <label for="arrival_location">Arrival location</label>
        <input class="form-control" type="text" name="arrival_location" required>
        <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
        <label for="arrival_date">Arrival time</label>
        <div class="form-group">
                <div class='input-group date' id='arrival_datetime'>
                    <input type='text' class="form-control" name="arrival_datetime" required>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <div class="help-block with-errors"></div>
            </div>
    </div>

    <div class="form-group">
        <label for="arrival_milage">Arrival milage</label>
        <input class="form-control" type="number" name="arrival_mileage" required>
        <div class="help-block with-errors"></div>
    </div>
    <input class="form-control btn-primary" type="submit" value="Log" />
    </div>
</form>
<script type="text/javascript">
            $("#departure_datetime").datetimepicker({
                useCurrent: false,
                format: "YYYY-MM-DD HH:mm",
                calendarWeeks: true 
            });
            
            $("#arrival_datetime").datetimepicker({
                useCurrent: false,
                format: "YYYY-MM-DD HH:mm",
                calendarWeeks: true 
            });
            $("#departure_datetime").on("dp.change", function (e) {
                $('#arrival_datetime').data("DateTimePicker").minDate(e.date);
            });
            $("#arrival_datetime").on("dp.change", function (e) {
                $('#departure_datetime').data("DateTimePicker").maxDate(e.date);
            });
</script>
{% endblock %}