{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>AutoLog</title>

    <!-- BOOTSTRAP -->
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script> 
  <!-- END BOOTSTRAP -->

  <script>
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(fillPosition);
        } else {
            //not defined
        }

        function fillPosition(position) {
            console.log(position.coords.latitude);
            console.log(position.coords.longitude);
        }
  </script>

    <!-- Custom styles for this template -->
    <link href="{% static "autologbackend/css/cover.css" %}" rel="stylesheet">
  </head>

  <body>

    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">AutoLog</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Log</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Log a trip.</h1>
            <form action="{% url 'submit_log_trip' %}" method="post">
            <input type="hidden" name="m" value="m" />
    {% csrf_token %}
    <div class="form-group">
        <label for="vehicle">Vehicle</label>
        <select class="form-control" name="vehicle">
        {% for veh in vehicles %}
            <option id="vehicle{{ forloop.counter }}" value="{{ veh.id }}">{{ veh.license_plate }} - {{ veh.vehicle_make }} {{ veh.vehicle_model }}</option> 
        {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="driver">Driver</label>
        <select class="form-control" name="driver">
        {% for dri in drivers %}
            <option id="driver{{ forloop.counter }}" value="{{ dri.id }}">{{ dri.name }}</option>
        {% endfor %}
        </select>
    </div>

    <br />
    <h4><b>Location and time<b></h4>
    <hr>
    <div class="row">
    <div class="col-lg-6">
    <div class="form-group">
        <label for="departure_location">Departure location</label>
        <input class="form-control" type="text" name="departure_location">
    </div>
    </div>
    <div class="col-lg-6">
    <div class="form-group">
        <label for="departure_date">Departure time</label>
        <input class="form-control" type="date" name ="departure_date">
        <input class="form-control" type="time" name ="departure_time">
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-6">
    <div class="form-group">
        <label for="departure_milage">Departure milage</label>
        <input class="form-control" type="number" name="departure_mileage">
    </div>
    </div>
    </div>
    <br />
    <hr />
    <div class="col-lg-6">
    <div class="form-group">
        <label for="arrival_location">Arrival location</label>
        <input class="form-control" type="text" name="arrival_location">
    </div>
    </div>
    <div class="col-lg-6">
    <div class="form-group">
        <label for="arrival_date">Arrival time</label>
        <input class="form-control" type="date" name ="arrival_date">
        <input class="form-control" type="time" name ="arrival_time">
    </div>
    </div>
    <div class="col-lg-6">
    <div class="form-group">
        <label for="arrival_milage">Arrival milage</label>
        <input class="form-control" type="number" name="arrival_mileage">
    </div>
    </div>
    <input class="form-control btn-primary" type="submit" value="Log" />
    </div>
</form>
          </div>
        </div>

      </div>

    </div>
  </body>
</html>
