{% extends 'autologbackend/base.html' %}
{% block content %}
<h2>Register vehicle</h2>
<form action="{% url 'submit_register_vehicle' %}" method="post">{% csrf_token %}
    <div class="form-group">
        <label for="license_plate">License plate</label>
        <input class="form-control" type="text" name="license_plate">
    </div>
    <div class="form-group">
        <label for="build_year">Build year</label>
        <input class="form-control" type="text" name="build_year">
    </div>
    <div class="form-group">
        <label for="make">Make</label>
        <input class="form-control" type="text" name="make">
    </div>
    <div class="form-group">
        <label for="model">Model</label>
        <input class="form-control" type="text" name="model">
    </div>
    <div class="form-group">
        <label for="milage">Mileage unit</label>
        <label class="radio-inline"><input type="radio" name="mileage_unit" id="mu1" value="km"/>Kilometers</label> 
        <label class="radio-inline"><input type="radio" name="mileage_unit" id="mu1" value="mi"/>Miles</label>
    </div>
    <input class="form-control btn-primary" type="submit" value="Register" />
</form>
{% endblock %}
